*.gem
*.rbc
.bundle
.config
Gemfile.lock
pkg
rdoc
spec/tmp/app/assets/javascripts/application.js
spec/tmp/app/assets/javascripts/dummy/

# Ignore the default SQLite database.
spec/dummy/db/*.sqlite3

# Ignore all logfiles and tempfiles.
spec/dummy/log/*.log
spec/dummy/tmp
