<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "Posts#index", posts_index_path %>
<%= link_to "Posts#new", posts_new_path %>
<%= link_to "Posts#show", posts_show_path %>
